rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    match /projects/{projectId} {
      allow read: if true;
      allow write: if isSignedIn();
    }

    match /profiles/{uid} {
      // 自分のだけ閲覧編集可
      allow read,write: if isSignedIn() && uid == request.auth.uid;
    }
  }
}